html {
  font-family: helvetica, arial;
}
#showContainer {
  /* Main wrapper for all images */
  /*width: 670px;*/
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: black;
}
.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}
.imageContainer{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}
.imageContainer:not(:first-child) {
  /* Hide all images except the first */
  display: none;
}